@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.body {
  background-color: hsl(226, 43%, 10%);
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: hsl(226, 43%, 10%);
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-rows: minmax(min-content 1fr) minmax(min-content 1fr);
  grid-template-columns: repeat(4, minmax(120px, 220px));
  gap: 2rem;
  @media only screen and (max-width: 650px) {
    margin-top: 800px;
    display: grid;
    grid-template-rows: min-content repeat(7, 200px);
    grid-template-columns: minmax(min-content, 80vw);
  }
}

.profile {
  grid-row: 1 /3;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1.3rem;
  @media only screen and (max-width: 650px) {
    grid-row: 1/3;
  }

  &__img {
    img {
      width: 4rem;
      border: 2px solid white;
      border-radius: 50%;
    }
    margin-bottom: 2.1rem;
  }
  span {
    color: rgb(219, 214, 214);
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    display: block;
  }
  h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__data {
    background-color: hsl(246, 75%, 66%);
    padding: 1.6rem;
    padding-bottom: 3.5rem;
    border-radius: 1.3rem;
    @media only screen and (max-width: 650px) {
      display: flex;
      justify-content: center;
      gap: 1rem;
      height: 140px;
    }
  }

  &__switch {
    background-color: hsl(235, 46%, 20%);
    padding: 1.6em;
    padding-bottom: 1.2rem;
    border-radius: 1.3rem;
    @media only screen and (max-width: 650px) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__switch button {
    display: block;
    margin: 0 0 1rem 0rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.548);
    &:hover {
      cursor: pointer;
      color: white;
    }

    &:active,
    &:focus {
      color: white;
    }
  }
}

.cards-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 1.3rem;
  overflow: hidden;

  &--1 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 34%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-work.svg) 0 0 repeat;

      transform: rotate(10deg);
      z-index: 2;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 15%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(15, 100%, 70%) 30%,
      hsl(226, 43%, 10%)
    );
  }
  &--2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 34%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-play.svg) 0 0 repeat;
      transform: rotate(10deg);
      z-index: 2;
      overflow: hidden;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 15%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(195, 74%, 62%) 30%,
      hsl(226, 43%, 10%)
    );
  }
  &--3 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 34%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-study.svg) 0 0 repeat;
      transform: rotate(10deg);
      z-index: 2;
      overflow: hidden;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 15%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(348, 100%, 68%) 30%,
      hsl(226, 43%, 10%)
    );
  }
  &--4 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 34%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-exercise.svg) 0 0 repeat;
      transform: rotate(10deg);
      z-index: 2;
      overflow: hidden;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 15%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(145, 58%, 55%) 30%,
      hsl(226, 43%, 10%)
    );
  }
  &--5 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 34%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-social.svg) 0 0 repeat;
      transform: rotate(10deg);
      z-index: 2;
      overflow: hidden;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 15%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(264, 64%, 52%) 30%,
      hsl(226, 43%, 10%)
    );
  }
  &--6 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 30%;
      height: 38%;
      top: -4%;
      left: 60%;
      //   z-index: -1;
      background: url(images/icon-self-care.svg) 0 0 repeat;
      transform: rotate(10deg);
      z-index: 2;
      overflow: hidden;
      @media only screen and (max-width: 650px) {
        left: 80%;
        width: 13%;
      }
    }
    background: linear-gradient(
      180deg,
      hsl(43, 84%, 65%) 30%,
      hsl(226, 43%, 10%)
    );
  }
}

.cards {
  background-color: hsl(235, 46%, 20%);
  z-index: 3;
  padding: 1rem 1.2rem;
  border-radius: 1.3rem;
  color: white;
  position: relative;
  height: 80%;

  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  .dots {
    // padding-bottom: 0.3rem;
    display: flex;

    align-items: center;
    height: 100%;
    transform: translateY(-5px);
  }
  .daily {
    position: absolute;
    opacity: 0;
  }

  .weekly {
    position: absolute;
    opacity: 0;
  }

  // .weekly {
  //   @media only screen and (max-width: 650px) {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //   }
  // }

  .monthly {
    position: absolute;
    opacity: 0;
  }
  .daily__hours,
  .weekly__hours,
  .monthly__hours {
    font-size: 2.7rem;
    font-weight: 300;
    margin: 1.2rem 0rem 0.8rem 0rem;
  }
  .daily__hours--prev,
  .weekly__hours--prev,
  .monthly__hours--prev {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.685);
    margin-right: 3rem;
    @media only screen and (max-width: 650px) {
      font-size: 1rem;
    }
  }
  .daily.show {
    opacity: 1;
    @media only screen and (max-width: 650px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .weekly.show {
    opacity: 1;
    @media only screen and (max-width: 650px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .monthly.show {
    opacity: 1;
    @media only screen and (max-width: 650px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
    }
  }
}
